body{
	background: url(img/field.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.button{
	width: 40%;
	margin: 400px 0 0 430px ;
}

.hoverButton{
	width: 40%;
	margin: 400px 0 0 430px ;
	visibility: hidden;
}